@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  background-color:rgb(241 245 249) ;
  overflow-x: hidden;
  
}
.carousel .control-prev.control-arrow:before {
  border-right: 14px solid black;
}
.carousel.carousel-slider .control-arrow {
  background: azure;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.slide___3-Nqo
  slideHorizontal___1NzNV
  carousel__slide
  carousel__slide--visible {
  width: 9.5%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  scrollbar-width: thin;
  scrollbar-color: black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 14px;
  border: 1px solid white;
}
